body{
  /* font-family: sans-serif; */
  /* text-align: center; */
  background-color: antiquewhite;
}
#nav{
  background-color: rgb(224, 204, 170);
  padding: 10px;
  border: double 5px;
  display: flex;
  justify-content:space-evenly;
}
#hero{
  background-color:rgb(244, 213, 167);
  height: 300px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
}
#main{
  background-color: burlywood;
  height: 200px;
  text-align: center;
  padding: 50px;
  margin-top: 5px;
}
.about{
  background-color:rgb(231, 227, 163);
  text-align: center;
  border: dotted 3px 
  
}
.cont{
  background-color:rgb(224, 218, 142);
  text-align: center;
  border: dotted 3px ;
  padding: 20px;

}
button{
  border: none;
  border-radius: 5px;
  background-color: rgb(227, 61, 61);
  font-size: large;
  padding: 5px;
  color: white;
}
